
<section class="sign-in">

<h1>Welcome home</h1>

<h2>Log in to MakersBnB</h2>

<form action="/sessions" method="post">
  <p>
    <input class="sign-up-elements" type="email" name="email" placeholder="Email"  required>
  </p>
  <p>
    <input class="sign-up-elements" type="password" name="password" placeholder="Password" required>
  </p>
  <p>
    <button type="submit">Sign in</button>
  </p>
</form>

</section>
