<form action="/space/new" method="post">
  <label for="name">Space Name:</label>
  <input type="text" name="name">
  <label for="description">Space Description:</label>
  <input type="text" name="description">
  <label for="price">Space Price:</label>
  <input type="text" name="price">
  <input type="submit" value="create space">
</form>
