<section id="list-a-space" class="top-left">
  <h1>List a Space</h1>
  <form action="/space/new" method="post">
    <%= partial :description %>
    <p>
      <button type="submit">List Space</button>
    </p>
  </form>

  <form action="/space/index">
    <button type="submit">Back to Index</button>
  </form>
</section>
