<article id="view-space">
  <h1><%= @space.name %></h1>
  <p><%= @space.description %></p>
  <p>£<%= @space.price %></p>

  <form action="/reservation/<%= @space.id %>">
    <button type="submit">Request Booking</button>
  </form>

  <form action="/space/index">
    <button type="submit">Back to Index</button>
  </form>
</article>
