body {
  font-family: "Montserrat";
}
h1 {
  color: #AA1925;
}

.page {
  padding: 20px 0px 0px 0px;
}

.nav {
  width: auto;
  float: right;
}

table td {
  border-left: 1px solid #000;
  padding: 15px;
  color: #AA1925;
 }

table td:first-child {
  border-left: none;
}

a {
  color: #AA1925;
  text-decoration: none;
}

.navbar-button {
 background:none!important;
  border:2px;
  padding:0!important;
  font: inherit;
  color: #AA1925 ;
  /*border is optional*/
  cursor: pointer;
}
