body {
  font-family: "Montserrat";
}
h1 {
  color: #AA1925;
  font-size: 40px;
}

.page {
  padding: 20px 0px 0px 0px;
}

.nav {
  width: auto;
  float: right;
}

table td {
  border-left: 1px solid #000;
  padding: 15px;
  color: #AA1925;
 }

table td:first-child {
  border-left: none;
}

a {
  color: #AA1925;
  text-decoration: none;
}

.navbar-button {
 background:none!important;
  border:2px;
  padding:0!important;
  font: inherit;
  color: #AA1925 ;
  /*border is optional*/
  cursor: pointer;
}

.sign-up {
 text-align: center;
 height: 300px;
 width: 500px;
 position: fixed;
 top: 30%;
 left: 50%;
 margin-top: -150px;
 margin-left: -250px;
}

.sign-up-elements {
 font-family: 'Montserrat';
 border-radius:6px;
 border:groove;
 font-size: 30px;
 margin: 5px;
}

button {
  background-color: rgba(255,255,255,0.4);
  border-radius: 8px;
  font-family: 'Montserrat';
  padding: 0.75rem;
  min-width: 5em;
  line-height: 1.5rem;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
}
