body {
  font-family: "Montserrat";
}

h1 {
  color: #AA1925;
  font-size: 40px;
}

h2 {
  align-items: center;
}

.center {
  text-align: center;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -150px;
  margin-left: -175px;
}

.top-left {
  left: 20%;
  float: left;
  width: 80%;
  margin-left: 15%;
}

.bold {
  font-weight: bold;
  margin-left: 10px;
}

.maroon {
  color: #AA1925;
}

/*Nav Bar*/

.nav {
  width: auto;
  float: right;
}

table td {
  border-left: 1px solid #000;
  padding: 15px;
  color: #AA1925;
 }

table td:first-child {
  border-left: none;
}

table td:last-child {
  border-left: none;
}

a {
  color: #AA1925;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #AA1925;
}

.navbar-button {
  background:none!important;
  border:2px;
  padding:0!important;
  font: inherit;
  color: #AA1925 ;
  cursor: pointer;
}

/*Sign Up Page*/

#sign-up {
  height: 300px;
  width: 500px;
  margin-left: -250px;
}

/*Sign In Page*/

#sign-in {
  height: 260px;
  width: 350px;
}

.sign-up-elements {
  font-family: 'Montserrat';
  border-radius:6px;
  border:groove;
  font-size: 20px;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  width: 250px;
  align-items: center;
}

/*Buttons*/

button {
  background-color: rgba(255,255,255,0.4);
  border-radius: 8px;
  font-family: 'Montserrat';
  padding: 0.75rem;
  min-width: 5em;
  line-height: 1.5rem;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(243,243,243,0.4);
}

/*Spaces Index*/

#book-a-space {
  left: 45%;
}

.search-button {
  width: 170px;
  height: 40px;
  padding: 0 0 1px 0;
  margin: 0 0 10px 0;
}

#spaces {
  list-style-type: none;
  position: relative;
  padding: 0;

  margin: 10px auto;
  text-align: center;
}

#spaces li button {
  width: 500px;
  border: 1px solid #AA1925;
  height: 80px;
}

li {
  width: 500px;
  padding: 10px;
  margin: 3px auto;
  list-style: none;
}

/*Calendar*/

.date {
  padding-bottom: 20px;
}

/*List a Space*/

#list-a-space button {
  position: relative;
  margin-top: 10px;
  margin-left: 5px;
}

#list-a-space input, textarea {
  border-radius:6px;
  border:groove;
  font-size: 20px;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  width: 450px;
  align-items: center;
}

#list-a-space form {
  margin-left: 15px;
}

textarea {
  height: 150px;
}

/*My Spaces*/

#my-spaces li {
  width: 80%;
  margin: 0 0 10px 10px;
  height: 30px;
  border: 1px dotted #AA1925;
  border-radius: 6px;
  padding-top: 20px;
  overflow-x: scroll;
  white-space: nowrap;
}

/*Each Space Page*/

#my-space input, textarea {
  border-radius:6px;
  border:groove;
  font-size: 20px;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  width: 450px;
  align-items: center;
}

#my-space form {
  margin-left: 15px;
}

/*View Space*/

#view-space {
  margin-top: 5%;
}

#view-space p, #view-space form {
  margin-left: 10px;
}

#view-space button {
  width: 190px;
  height: 40px;
  padding: 0 0 1px 0;
  margin-bottom: 10px;
}

/*Request a Booking*/
