<article class="top-left" id="my-bookings">

  <h1>My Bookings</h1>

  <h2>Pending</h2>
  <ul>
    <% if @pending_requests.count == 0 %>
      No pending bookings
    <% end %>
    <%= partial :request, locals: { requests: @pending_requests } %>
  </ul>

  <h2>Confirmed</h2>
  <ul>
    <% if @confirmed_requests.count == 0 %>
      No confirmed bookings
    <% end %>
    <%= partial :request, locals: { requests: @confirmed_requests } %>
  </ul>

  <h2>Declined</h2>
  <ul>
    <% if @declined_requests.count == 0 %>
      No declined bookings
    <% end %>
    <%= partial :request, locals: { requests: @declined_requests } %>
  </ul>
  
</article>
