<section class="center">

  <h1>Feel at home, anywhere</h1>

  <h2>Sign up to MakersBnB</h2>

  <form action="/user/new" method="post" class="user-form">
    <p>
      <input type="text" name="name" value="<%= @user.name %>" placeholder="Name" required>
    </p>
    <p>
      <input type="email" name="email" value="<%= @user.email %>" placeholder="Email" required>
    </p>
    <p>
      <input type="text" name="username" value="<%= @user.username %>" placeholder="Username" required>
    </p>
    <p>
      <input type="password" name="password" placeholder="Password" required>
    </p>
    <p>
      <input type="password" name="password_confirmation" placeholder="Confirm Password" required>
    </p>
    <p>
      <button type="submit">Sign up</button>
    </p>
  </form>

  <%= partial :flash, locals: { flashes: flash[:errors] } %>

</section>
