<html>
	<head>
		<link rel="stylesheet" href="/pickmeup.min.css" type="text/css">
		<script src='/jquery.min.js'></script>
		<script type="text/javascript" src="/jquery.pickmeup.min.js"></script>
		<script src='/calendarInterface.js'></script>
	</head>

	<body>
		<article class="top-left">
			<h1>Request a Booking</h1>
			<h2 id="<%= @space.id %>"><%= @space.name %></h2>
			<% if current_user %>
				<div class="date" data-pmu-format="Y-m-d"> </div>
				<form action="/my-bookings">
					<button type="submit" id="submit">Submit</button>
				</form>
			<% else %>
				Please sign in or register to make a booking.
			<% end %>
		</article>
	</body>
</html>
